<!-- Système de navigation basé sur les onglets. Ici, on décrit la barre de navigation -->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Favoris" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/tab/favoris">
        <ion-nav-view name="tab-favoris"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Capteurs" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/capteursList">
        <ion-nav-view name="tab-capteursList"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Paramètres" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/parametres">
        <ion-nav-view name="tab-parametres"></ion-nav-view>
    </ion-tab>


</ion-tabs>
